{%extends 'Women/base.html'%}

{%block content%}
<div class="d-flex gap-2 justify-content-center py-5">
    <ul class="nav nav-pills"></ul>
        <a class = "catBtn" href = "/women">All categories</a>
        {%for c in cats%}
        <a href = '{{ c.get_absolute_url }}' class = 'catBtn'>{{ c.name }}</a>
        {%endfor%}
    </ul>
    
</div>

<ul>
    {%for m in women%}
    <h2>{{m.title}}</h2>
    <p>{{m.content}}</p>
    <a class = "detailInfoBtn" href = "{{ m.get_absolute_url }}">Detail Info</a>
    <hr>
    {%endfor%}
</ul>

{% if page_obj.has_other_pages%} <!-- Check if there are other pages display paginatation else not display -->
<div class="pagination">
    <a href="#">&laquo;</a>
    {% for p in paginator.page_range %}
    {#<!-- {% if page_selected == p %} --> <!-- Does the same as the code below --> #}
        {% if page_obj.number == p %}
            <a id = 'page_selected' href="?page={{ p }}">{{p}}</a>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}  <!-- Display the selected page plus and minus 2 page -->
            <a href="?page={{ p }}">{{p}}</a>
        {#<!--{% else %}-->#}
        {#<!--<a href="?page={{ p }}">{{p}}</a>-->#}  <!-- Display all pages range -->
        {% endif %}
    {% endfor %}
    <a href="#">&raquo;</a>
</div>
{% endif %}
{%endblock content%}

