body {
	background-color: lightblue;
}

.detailInfoBtn {
	background-color: #008CBA; /* Green */
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


.catBtn {
	border-radius: 20px;
	background-color: #1651c7; /* Green */
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.AddForm{
	margin-left: 50px;
}

.pagination {
	margin: auto;
	width: 50%;
	padding: 10px;
	padding-left: 180px;
  }
  
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
  }

#page_selected{
	background-color: #008CBA;
	}

.pagination a:active {
	background-color: #ffffff;
	color: rgb(255, 255, 255);
  }
  
.pagination a:hover:not(.active) {background-color: #008CBA;}